@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr />
<h4>We respect your privacy</h4>
<br />

<h5>Information Collection</h5>
<p>MvcMovie is committed to protecting your privacy and personal information. We will not collect your personal information unless it is specifically stated that we intend to do so. The only information we collect that can be used to identify you is the information you provide voluntarily and with your consent. Any information collected will not be sold or distributed to any third party in any manner. When you submit a request for information, or sign up for our mailing list, you may be asked for basic personal information such as your name, city, or e-mail address. This information is only read by authorized personnel who use it to respond to your requests and inquiries. We make every effort to protect your privacy, but when required, we may have to disclose personal information to comply with law enforcement investigations.
Our website may automatically collect information which may include, but which is not limited to, your browser software, or the domain name which was used to reference this website. This information cannot be used to identify you, and is only collected to optimize our website’s functionality.</p>

<h5>Cookies</h5>
<p>“Cookies” are small files your browser software stores only on your computer which are used to remember information for use when you return to a website. This information may include, but is not limited to, entries you make in textbox form fields. You may change the settings on your browser software to prevent the use of cookies, or to inform you when cookies will be used.</p>

<h5>Image Use</h5>
<p>All third party images on this site are used either with the manufacturer’s consent, or were gathered from sources claiming the images were public domain. No images should be copied from this site for commercial use.</p>
